@import "themes/mocha.css";

* {
  font-family: JetBrainsMono, SymbolsNerdFont;
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5;
}

#custom-weather {
  background: @black;
  color: @text;
  padding: 0 30px 0 15px;
  margin: 4px 0 4px 10px;
  border-radius: 6 0 0 6;
}

#cpu {
  background: @black;
  color: @text;
  padding: 0 30px 0 15px;
  margin: 4px 0;
  border-radius: 0 6 6 0;
}

#memory {
  background: @black;
  color: @text;
  padding: 0 30px 0 15px;
  margin: 4px 0;
  border-radius: 0 6 6 0;
}

#workspaces {
  background-color: @black;
  margin: 4px 5px 4px 5px;
  border-radius: 6;
}
#workspaces button {
  background-color: @black;
  color: @text;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px #23252e;
  border-radius: 0;
}
#workspaces button:hover {
  background-color: @black;
  color: @text;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px @text;
  border-radius: 0;
}
#workspaces button.active {
  background-color: @black;
  color: @mauve;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px;
  border-radius: 0;
}
#workspaces button.empty {
  color: @gr;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px #23252e;
  border-radius: 0;
}

#tray {
  background: @black;
  color: @text;
  padding: 0 15px 0 15px;
  margin: 4px 0 4px 0;
  border-radius: 6 0 0 6;
}
#pulseaudio {
  background: @black;
  color: @text;
  padding: 0 30 0 15px;
  margin: 4px 0px 4px 0;
}

#language {
  background: @black;
  color: @mauve;
  padding: 0;
  margin: 4px 0 4px 0;
  border-bottom: solid 2px @mauve;
  border-radius: 0;
}

#clock {
  background: @black;
  color: @text;
  padding: 0 15px 0 29px;
  margin: 4px 10px 4px 0;
  border-radius: 0 6 6 0;
  font-size: 14px;
}
